body {
  font-family: Tahoma, Verdana, sans-serif;
  background-image: url("images/background.png");
  margin: 0px;
}
.banner {
  background: url("bannerbg.png") repeat-x;
  text-align: center;
}
h1#header-design {
  font-family: Tahoma, verdana, serif, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px #999999;
}
.main {
  display: grid;
  width: 800px;
  margin: auto;
  border: 4px gray solid;
  border-radius: 20px;
  overflow: hidden;
  grid-template-columns: 550px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "left right"
    "footer footer";
}

#right {
  grid-area: right;
  width: 250px;
  background-color: #a2b964;
}
#left {
}
.letf-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 48pt;
  color: red;
  background: url("images/rbg.png") repeat-x;
}

.letf-header img {
  height: 83px;
}

#footer {
  /* grid-area: footer; */
  background: #a2b964;
  text-align: center;
  width: 800px;
}

#reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 2%;
}
.reviews {
  display: block;
  width: 47%;
  font-size: 8pt;
  margin-bottom: 20pt;
}
.reviews > p:first-child {
  font-weight: bold;
  padding: 8%;
  background-color: #e8dc9b;
  border: 2px solid gray;
  border-radius: 10px;
  min-height: 25px;
}
.reviews > p:last-child > img {
  float: left;
  margin: 0 5px 5px 0;
} 
.reviewer-pub {
  font-style: italic;
}
#right {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}
#right dt {
  font-weight: bold;
  margin: 10pt;
}
#right dl {
  padding: 10pt;
  margin: 0;
}
#right ul {
  list-style: none;
  padding: 0;
  margin: 0%;
}
#validator {
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 50%;
}
